body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

/* Fona attēls ar fiksētu pozīciju */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url('images/fons2.jpg') no-repeat center center;
    background-size: cover;
    z-index: -1; /* Lai saturs būtu virs fona */
}
.container {
    max-width: 500px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
}
.btn-success {
    background-color: #28a745;
}